body {
    margin: 0;
}

button {
    border-radius: 3px;
    border: 1px solid #f1f1f1;
    background-color: transparent;
    cursor: pointer;
    &:disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}
