html,
html,
body {
    margin: 0;
    font-size: 12px;
}

app-accounts {
    --margin-side: 1rem;
    --transition-duration: 1.5s;
    display: block;
    color: #666;

    h1 {
        margin: 0;
        padding: var(--margin-side) var(--margin-side) 0;
    }

    .assets {
        padding: var(--margin-side);

        transition: all var(--transition-duration);

        &[data-loading="true"] {
            opacity: 0;
        }
        &[data-loading="false"] {
            opacity: 1;
        }

        h4 {
            margin: 0 0 10px;
        }

        p {
            margin: 5px 0;
        }

        span {
            margin-left: 5px;
        }
    }

    .accounts {
        margin-top: 1rem;
        h2 {
            margin: 5px var(--margin-side);
        }
    }

    .accountsList {
        list-style: none;
        margin: 0;
        padding: 0;

        opacity: 1;

        transition: opacity var(--transition-duration);

        &[data-loading="true"] {
            opacity: 0;
        }

        li {
            padding: var(--margin-side);
            border-top: 1px solid #ddd;
            opacity: 1;

            .name {
                display: flex;
                align-items: center;

                h4 {
                    margin: 0 5px 0 0;
                }

                .unitCurrency {
                    margin-left: 5px;
                }
            }

            p {
                margin: 7px 0;
                span {
                    margin-left: 5px;
                }
            }

            &[data-increase="true"] {
                .profit,
                .profitRate {
                    color: red;
                }
            }
            &[data-increase="false"] {
                .profit,
                .profitRate {
                    color: #3178ff;
                }
            }
        }
    }
}
