html,
html,
body {
    margin: 0;
    font-size: 12px;
}

app-accounts {
    --margin-side: 1rem;

    display: block;
    color: #666;

    h1 {
        margin: 0;
        padding: var(--margin-side) var(--margin-side) 0;
    }

    .assets {
        padding: var(--margin-side);

        h4 {
            margin: 0 0 10px;
        }
        p {
            margin: 7px 0;
        }
    }

    .accounts {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            padding: var(--margin-side);
            border-top: 1px solid #ddd;

            .name {
                display: flex;
                align-items: center;

                h4 {
                    margin: 0 5px 0 0;
                }

                span {
                    font-size: 10px;
                }
            }

            p {
                margin: 7px 0;
                span {
                    margin-left: 5px;
                }
            }

            &[data-increase="true"] {
                .profit,
                .profitRate {
                    color: red;
                }
            }
            &[data-increase="false"] {
                .profit,
                .profitRate {
                    color: #3178ff;
                }
            }
        }
    }
}
