@import "./common/_base.scss";
@import "./common/_variables.scss";

html,
body {
    margin: 1rem;
    font-size: 12px;
}

header {
    display: flex;
    margin-bottom: 5px;
}

.summary {
    margin-left: auto;
    font-size: 14px;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0;
    color: #666;
}

th,
td {
    padding: 5px;
    border: 1px solid #ececec;
}

td:not(:first-child) {
    text-align: right;
}
