@import "./common/_base.scss";
@import "./common/_variables.scss";

html,
body {
    margin: 1rem;
    font-size: 12px;
    color: #666;
}

.backtest-options {
    display: flex;
    align-items: center;
    .option {
        margin-right: 50px;

        .title {
            margin: 0 10px;
        }

        input[name="count"] {
            width: 50px;
        }

        button {
            margin-left: 5px;
        }

        .investmentPrice {
            margin-left: 5px;
        }
    }
}

backtest-overview {
    display: block;
}
.summary,
backtest-overview {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ebebeb;
}

.summary-all,
.overview-sum {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    padding: 0 0 10px;
    font-weight: bold;
    color: orangered;
    font-size: 14px;

    p {
        margin: 0;
    }
    span {
        margin-left: 5px;
    }
}

.summary-list,
.overview-list {
    padding: 0;
    // font-size: 13px;
    li {
        display: flex;
        margin: 5px 0;
        padding-bottom: 5px;
        // border-bottom: 1px dashed #ebebeb;
    }
    p {
        display: inline-block;
        width: 25%;
        margin: 0;
    }
    span {
        margin-left: 5px;
    }

    .deleteButton {
        font-size: 11px;
        white-space: nowrap;
    }
}

backtest-table {
    display: block;
    margin-top: 10px;

    nav {
        a {
            display: inline-block;
            margin-left: 4px;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px 5px 0 0;
            text-decoration: none;
            color: #666;
            &[data-active="true"] {
                background-color: #f8f8f8;
            }
        }
    }
}

.backtest-contents {
    margin-top: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0;
    font-size: 10px;

    thead {
        position: sticky;
        top: 0;
        background: #e9e9e9;
    }

    tr[data-action="Buy"],
    tr[data-action="Trade"] {
        background-color: rgba(255, 254, 185, 0.5);
    }

    tr[data-action="Sell"] {
        background-color: rgba(204, 193, 255, 0.3);
    }

    th,
    td {
        padding: 5px;
        border: 1px solid #ececec;
    }

    td {
        text-align: right;
    }

    td.index,
    td.date,
    td.condition,
    td.action {
        text-align: center;
    }

    td.candle_date_time_kst {
        text-align: left;
    }
}
